.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 40px;
}

.app-choices {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.app-choices button {
  border: none;
  background: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}

.choice-btn {
  background-color: black;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  color: white;
}

.choice-btn:hover {
  background-color: black;
}

.prompt-input {
  padding: 12px;
}

.prompt-textarea {
  width: 700px;
  max-width: 100%;
  background-color: white;
  border-radius: 4px;
  font-size: 1em;
  padding: 12px;
  resize: none;
  outline: none;
}

.btn-container {
  margin-bottom: 20px;
}

.error-msg {
  color: red;
}

.output-msg {
  margin-top: 20px;
}
